<h1 align=center style="line-height:200%;font-family:DroidSerif;color:#0099cc">
<font face="DroidSerif" color="#0099cc">
Gender Detection
</font>
</h1>

<h2 align=left style="line-height:200%;font-family:DroidSerif;color:#0099cc">
<font face="DroidSerif" color="#0099cc">
Introduction and goals of problem 
</font>
</h2>

<h4 align=left style="line-height:100%">
<font face="DroidSerif" size=3>
    it's important and mainly should be consider to give a response or recommend product base on genders so we decide to implement a model which can predict genders based on text content specilly in farsi language
</font>
</h4>

<h2 align=left style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="DroidSerif" color="#0099cc">
Explain the dataset
</font>
</h2>

<p dir=ltl style="direction: ltl; text-align: justify; line-height:200%; font-family:DroidSerif; font-size:medium">
<font face="DroidSerif" size=3>
The train dataset consist of 8000 records with 9 columns plus one goals columns(gender)
</font>
</p>

<center>
<div dir=ltl style="direction: ltl;line-height:200%;font-family:DroidSerif;font-size:medium">
<font face="DroidSerif" size=3>
    
|Column|Description|
|:------:|:---:|
|gender|labled column|
|age|range age of the user|
|fullname|the name is written in the user social media |
|username|username used in app|
|biography|summary details of the user|
|follower_count|count of the followers|
|following_count|count of the following|
|is_business|is it a business acount or not?|
|is_verified|is the account verified?|
|is_private|is it private account or public|
    
</font>
</div>
</center>


<p dir=ltl style="direction: ltl; text-align: justify; line-height:200%; font-family:DroidSerif; font-size:medium">
<font face="DroidSerif" size=3>
     the <code>age</code> column is not a continuse variable its seperate by ranged age which described bellow 
</font>
</p>


<center>
<div dir=ltl style="direction: ltl;line-height:200%;font-family:DroidSerif;font-size:medium">
<font face="DroidSerif" size=3>
    
|the assigned number|actual age|
|:------:|:---:|
|1|under the 18|
|2|between 19 till 29|
|3|from 30 till 40|
|4|over 40|
    
</font>
</div>
</center>

In [20]:
import numpy as np
import pandas as pd 
train = pd.read_csv('../data/train_data.csv')
test = pd.read_csv('../data/test_data.csv')
train

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
0,man,2,Farshid,mr_gh_farshid,دردا ک در این بادیه بسیار دویدیم...\nGlory man...,1604.0,1407.0,0.0,0.0,0.0
1,woman,2,zahr@72,zahra.roozbahani72,"خواهی که زکوچ در امان برگردی\nباید که به جان ,...",67.0,501.0,0.0,0.0,0.0
2,woman,2,ms farahnaz♥,___lady.farahnazi.__,"Having you, is all I wish for \nداشتنت، تمامِ...",0.0,0.0,0.0,0.0,0.0
3,woman,1,Lena.mommy farzan,mommy.lena3361,دردونه من لنا کوچولو,0.0,0.0,0.0,0.0,0.0
4,woman,2,Narsis Asadollahi,_l.aurora.l_,I am an animation student\n🎧🎼🎨⚓️🤍 \n@general.m...,200.0,328.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7995,woman,2,Ŋεgɨŋ,negiiin_bahrmandi,﷽\nAllah IS Enough FoR Me?\n♥️?,0.0,0.0,0.0,0.0,0.0
7996,man,3,h🗯abdi🗯offìcial,h.abdi.official,حقوقی,0.0,0.0,1.0,0.0,0.0
7997,woman,2,⚜رویا احمدی⚜,roya.ahmadi.k,مهندس صنایع👩‍🔧🏭 Industrial engineer\nمعمار👩‍💻👷...,1260.0,1167.0,0.0,0.0,0.0
7998,man,3,لرستان &خرم اباد,erfanpouersif,khoramabad,0.0,0.0,0.0,0.0,0.0
7999,man,4,Sasan,sasan.zeinoddin,Sport 🏃🏻‍♂️🏊🏼‍♂️🚴🏽‍♂️\nCivil Engineer🗽\nKurdis...,0.0,0.0,0.0,0.0,0.0

In [21]:

train.fillna(method='ffill',inplace=True)

In [ ]:
# do some preprocessing :)
from hazm import stopwords_list
from hazm import word_tokenize
test.isnull().sum()
def removeStopWords(x):
    list1=[]
    for i in x:
        if i not in stopwords_list():
            list1.append(i)
    return list1
train['proccessBio'] = train['biography'].apply(lambda x : removeStopWords(x))

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.feature_extraction.text import CountVectorizer
count_vect1 = TfidfVectorizer(stop_words='english',input='content',decode_error='replace',strip_accents='unicode',min_df=2)
count_vect2 = TfidfVectorizer(stop_words='english',input='content',decode_error='replace',strip_accents='unicode',min_df=2)
count_vect3 = TfidfVectorizer(stop_words='english',input='content',decode_error='replace',strip_accents='unicode',min_df=2)



import emoji 
train['newName'] = train['fullname'].apply(lambda x : emoji.demojize(x))
train['newUser'] = train['username'].apply(lambda x : emoji.demojize(x))
train['newbio'] = train['biography'].apply(lambda x : emoji.demojize(x))
finalFullName = count_vect1.fit_transform(train['newName'].values)
finalUserName = count_vect2.fit_transform(train['newUser'].values)
finalBiography =  count_vect3.fit_transform(train['newbio'].values)
name = pd.DataFrame(finalFullName.toarray())
user = pd.DataFrame(finalUserName.toarray())
bio =  pd.DataFrame(finalBiography.toarray())
train = pd.concat([train,name,user,bio],axis=1)
train['gender']= train['gender'].replace(['man','woman'],[1,0])
train.drop(['fullname' , 'username' , 'biography','newbio' , 'newUser' , 'newName' ],axis=1, inplace=True)

In [23]:
#for test data 
test['newName'] = test['fullname'].apply(lambda x : emoji.demojize(x))
test['newUser'] = test['username'].apply(lambda x : emoji.demojize(x))
test['newbio'] = test['biography'].apply(lambda x : emoji.demojize(x))
finalFullName = count_vect1.transform(test['newName'].values)
finalUserName = count_vect2.transform(test['newUser'].values)
finalBiography =  count_vect3.transform(test['newbio'].values)
name = pd.DataFrame(finalFullName.toarray())
user = pd.DataFrame(finalUserName.toarray())
bio =  pd.DataFrame(finalBiography.toarray())
test = pd.concat([test,name,user,bio],axis=1)
test.drop(['fullname' , 'username' , 'biography','newbio' , 'newUser' , 'newName' ],axis=1, inplace=True)

In [24]:
test

,age,follower_count,following_count,is_business,is_verified,is_private,0,1,2,3,...,7733,7734,7735,7736,7737,7738,7739,7740,7741,7742
0,2,791.0,174.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1902.0,3436.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,114.0,173.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2,3793.0,1223.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
train

,gender,age,follower_count,following_count,is_business,is_verified,is_private,0,1,2,...,7733,7734,7735,7736,7737,7738,7739,7740,7741,7742
0,man,2,1604.0,1407.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,woman,2,67.0,501.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,woman,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,woman,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,woman,2,200.0,328.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,woman,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7996,man,3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7997,woman,2,1260.0,1167.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7998,man,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7999,man,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h4 align=left style="line-height:200%;font-family:DroidSerif;color:#0099cc">
<font face="DroidSerif" color="#0099cc">
Models training and evaluations 
</font>
</h4>

In [ ]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report, f1_score
train.columns = train.columns.astype(str)
model = SVC(C= 2.655546927366614, gamma= 0.7508635484088411, kernel= 'linear')
model.fit(train.drop('gender' , axis=1)[:7500],train['gender'][:7500])
f1_score(train_data['gender'][7500:] , model.predict(train_data.drop('gender' , axis=1)[7500:]))

In [27]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 100 ,bootstrap= True, oob_score=True , max_samples=2000,criterion='gini')
train.columns = train.columns.astype(str)
train1 = train[:7500]
val = train[7500:]
model.fit(train1.drop('gender', axis=1) , train1['gender'])
model.get_params()
model.score(val.drop(['gender'],axis=1),val['gender'])
pred = model.predict(val.drop(['gender'],axis=1))
from sklearn.metrics import recall_score
recall_score(val['gender'],pred)

0.8097165991902834

<h2 align=left style="line-height:200%;font-family:DroidSerif;color:#0099cc">
<font face="DroidSerif" color="#0099cc">
Models Prediction
</font>
</h2>



<p dir=ltl style="direction: ltl;text-align: left;line-height:200%;font-family:DroidSerif;font-size:medium">
<font face="DroidSerif" size=3>
predict and create a dataframe based on the givent structure and saved it in submission file name
</font>
</p>

<div dir=ltl style="direction: ltl;text-align: right;line-height:200%;font-family:DroidSerif;font-size:medium">
<font face="DroidSerif" size=3>
    
|column|description|
|:------:|:---:|
|gender|final lable|
    
</font>
</div>

In [29]:
# predict test samples
test.columns = test.columns.astype(str)

submission = pd.DataFrame()
submission['gender'] = model.predict(test)
submission['gender'] = submission['gender'].replace([1,0],['man','woman'])
submission

     gender
0       man
1       man
2       man
3     woman
4     woman
...     ...
1995    man
1996  woman
1997    man
1998  woman
1999  woman

[2000 rows x 1 columns]

<h3 align=left style="line-height:200%;font-family:DroidSerif;color:#0099cc">
<font face="DroidSerif" color="#0099cc">
<b>packing the codes and data</b>
</font>
</h3>

In [30]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

submission.to_csv('submission.csv', index=False)
file_names = ['gender_detection.ipynb', 'submission.csv']
compress(file_names)

File Paths:
['gender_detection.ipynb', 'submission.csv']